html {
    font-size: 16px;
}

body {
    background-color: #ffffff;
    margin: 0; 
}

.mainpage{
    grid-template-columns:repeat(18,63px);
    background-image: url("/img/Brand-Elements/Splash-Page-Background.jpg"); 
    background-attachment: fixed;  /* Cover the entire viewport */
    background-size: cover;
    min-height: 50rem;/* Ensure the background covers the full viewport height */
}

header{
    display: grid;
    margin: auto;
    grid-template-columns: 5% 90% 5%;
    width: 80rem;
    height: 5rem;
}

#logo-icon{
    position: fixed;
    top: 2rem; 
    left: 5rem; 
    z-index: 5;
    width: 3rem;
    height: 3rem;
  
}

#menu-icon{
    position: fixed;
    top: 2rem; 
    right: 5rem; 
    z-index: 5;
    width: 3rem;
    height: 3rem;
  
}

#menu-icon a{
    text-decoration: none;
    font-family: Astrella;
    color: #BFD9CA;
}

#menu-item {
    display: none; /* Hidden by default */
    background-color: #ffffff;
    font-size: 1rem;
    top: 100%;
    /*width: 3.125rem;*/
    width: 7rem; 
    padding: 0.5rem;
}
#menu-item a{
    text-align: center;
}

#menu-icon:hover #menu-item {
    display:block;
    flex-direction: row;
}

#benzai-ten {
    margin: 17rem auto;
    text-align: center;
    width: 72.6875rem;
    height: 8.8125rem;
}

#project-Namay{
    background-image: url("/img/Proyects/Accessories/Namay/Bolso-Grande-contexto.jpeg"); 
    background-size: cover; /* Cover the entire viewport */
    background-attachment: fixed; 
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#project-Namay p a{
    color: var(--page-color, #FFF);
    font-family: Documenta;
    font-size: 8rem;
    text-decoration: none;
}

#orchard-at-home{
    background-image: url("/img/Proyects/Electronic-Products/Orchard/Contexto\ Orchard\ High.jpeg"); 
    background-size: cover; /* Cover the entire viewport */
    background-attachment: fixed; 
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#orchard-at-home p a{
    color: var(--page-color, #FFF);
    font-family: Documenta;
    font-size: 8rem;
    text-decoration: none;
}

#olive-ridley-turtle{
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
}

#video-turtle{
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

#Turtle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* background: rgba(197, 236, 255, 0.7); /* Background color with transparency */
    z-index: 1; /* Ensure the text is above the video */
}

#Turtle-text p{
    font-family: Documenta;
    font-size: 8rem;
}

#Turtle-text a{
    text-decoration: none;
    color: #fff;
}

#project-Namay-project{
    background-image: url("/img/Proyects/Accessories/Namay/Bolso-Grande-contexto.jpeg"); 
    background-size: cover; /* Cover the entire viewport */
    background-attachment: fixed; 
    min-height: 34rem;
    text-align: center;
    padding: 9.45rem;
}

#project-Namay-project p a{
    
    color: var(--page-color, #FFF);
    font-family: Documenta;
    font-size: 8rem;
    text-decoration: none;

}

#content1{
    margin: 9.25rem auto;
    display: grid;
    grid-template-columns: repeat (12,1fr);
    grid-column-gap:1.5rem;
    grid-auto-flow: dense;
}
.text {
    text-align: center;
    color: black;
    width: 100%;
    height:100%;
}

.textbox{
    text-align: center;
    color: black;
}
.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: right;
}

input, textarea {

background-color:white;
border: 2px solid #BFD9CA;
color:#BFD9CA;
font-size: 20px;
width: 71%;
padding: 8px 16px 8px 16px;

}

label {
display: block;
margin: 16px 0px 16px 0px;
font-family: Montserrat;
}

textarea{
height: 320px;
}

button {
    background-color:#BFD9CA;
    border: none; 
    font-size: 20px;
    font-family: astrella;
    padding: 8px 16px 8px 16px;
    text-align: center;
}

input:focus, textarea:focus{ 
     border: 2px solid #BFD9CA;
}

#contact-info {
    background-color: #BFD9CA;
    width: 74%;
    margin: 0 1rem 4rem 12rem;
    font-family: Montserrat;
    text-decoration: none;
}
#contact-info a{
    font-family: Montserrat;
    text-decoration: none;
    color: black;
}
section{
 width: 100%
}

nav{
width: 100%
}

main{
width: 100%
}

footer {
    width: 100%;
    display: flex; 
    flex-direction: row;
    align-content: center;
    justify-content:space-between; 
    margin: auto;
    background-color: black;
}

footer p{
    color: white;
    text-align: left;
    margin: 1.7rem 0.5rem;
}

footer a img{
    padding: 0.5rem;
}

